node_modules/
accounts/
*.exe
*.msi
tsukishita-desktop/src-tauri/target/
tsukishita-desktop/src-tauri/gen/
tsukishita-desktop/node_modules/
tsukishita-desktop/server-bundle/
.DS_Store
Thumbs.db
*.log
*.tmp*
绿茶VPN*
月下祓行.pdf
*.exe
*.msi
*.zip
*.apk
